@{
    ViewData["Title"] = "Home Page";
}

<div>
  <button onclick="goSignin()">Get code</button>
    <form method="POST" action="/home/InstagramUserDetails">
        <input id="instagramCode" type="text" name="instagramCode" />
        <input type="submit" value="Use code" />
    </form>
</div>
@{ 
    string url = $"https://api.instagram.com/oauth/authorize/?client_id={@ViewBag.ClientId}&redirect_uri={@ViewBag.RedirectUri}&response_type=code&scope=public_content";
}

<script type="text/javascript">
    function goSignin() {
        window.location.href = '@url';
    }

    function getCode() {
        var url = window.location.href;
        var code = url.substring(url.indexOf('code') + 5);
        var textBox = document.getElementById('instagramCode');
        textBox.value = code;

    }
    getCode();

</script>
